html {
  min-height: 100%;
  height: 100%;
}
html body {
  height: inherit;
  width: 100%;
  overfloat: hidden;
}
html body .main-container {
  height: 100%;
}
html body .container-fluid {
  padding: 0;
}
html body .modal-open {
  position: fixed;
  overflow: hidden;
}
#hail {
  width: 80%;
  height: 80%;
}
#topnav .navbar {
  padding: 3px 30px 1px 30px;
}
#topnav .nav-bgcolor {
  background-color: #1E688C;
}
#leftnav {
  width: 20%;
  height: interit;
  background-color: #1E688C;
}
#home {
  padding-top: 60px;
}
.grid {
  width: 500px;
  height: 250px;
}
