<div>

           <ul class="nav nav-sidebar">
            <li class="active" data-toggle="collapse" href="#collapseSection1"><a href="">Original Raw Data</a></li>
          </ul>

          <ul class="nav nav-sidebar" id="collapseSection1">
            <li ui-sref="home.hailRawData"><a href>Historical Hail Raw Data</a></li>
            <li ui-sref="home.ClaimRawData"><a href>Insurance Claims Raw Data</a></li>
          </ul>

         <ul class="nav nav-sidebar">
            <li class="active" data-toggle="collapse" href="#collapseSection2"><a href="">Historical Hail Data Analysis</a></li>
          </ul>

          <ul class="nav nav-sidebar" id="collapseSection2">
            <li ui-sref="home.PopulationAffected" ><a href>Population Affected Data Analysis</a></li>
            <li ui-sref="home.hail" ><a href>Data Analysis A</a></li>
            <li  ><a href>Data Analysis A</a></li>
          </ul>


         <ul class="nav nav-sidebar">
            <li class="active" data-toggle="collapse" href="#collapseSection3"><a href="">Insurance Claims Data Analysis</a></li>
          </ul>
          <ul class="nav nav-sidebar" id="collapseSection3">
            <li ui-sref="home.AverageClaim" ><a href>Average Claims</a></li>
            <li><a href="">Data Analysis B</a></li>
            <li><a href="">Data Analysis B</a></li>
          </ul>
</div>